<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBGhEIZx8EvlUetIpPqe4x387jTy5Gv0ow</string>
	<key>GCM_SENDER_ID</key>
	<string>642212907515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.client.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>deepface-a1dfd</string>
	<key>STORAGE_BUCKET</key>
	<string>deepface-a1dfd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642212907515:ios:ff850e78a6fba19026e35e</string>
</dict>
</plist>